*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgd(43, 43, 72);
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.passwordBox .btn{
  width: 100px;
  padding: 10px 0px;
  border: none;
  background-color: #954caf; /* Green background */
  color: white; /* White text */
  font-size: 16px;
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}


.passwordBox{
  width:350px;
  padding: 20px;
  background-color: blueviolet;
  
}

.passwordBoxIn{
  display: flex;
  padding: 5px;
}
.passwordBoxIn input{
  flex-basis: 80%;
}

.passwordBoxIn button{
  flex-basis: 20%;
  padding: 10px 0px;
}

.passLength{
   padding: 10px 0px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.passLength label{
  flex-basis: 80%;
}
.passLength input{
  flex-basis: 20%;
}
.btn{
  width: 100px;
  padding: 10px 0px;
  border: none;
  background-color: #6b4caf; 
  color: white; /* White text */
  font-size: 16px;
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.btn:active {
  background-color: #3e8e41; /* Even darker when clicked */
  transform: scale(0.98); /* Slightly shrink on click */
}
